::-webkit-input-placeholder {
    color: gray;
}

.configurationArea {
    background-color:#c0c0c0;;
    width: 33%;
    border-radius:25px;
    border: 16px solid lightgray;
}

.topConfiguration {
    display: inline-flex;
    width: 75%;
    margin-left: 18px;
    margin-top: 17px;
    margin-bottom: 6px;
}

.middleConfiguration {
    margin-left: 17px;
    padding-bottom:1px;
    display: inline-flex;
}

.optionConf {
    width: 99px;
    border: 0 solid gray ;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius:12px;
    background-color: lightgray;
    font-size: 13px;
    font-family: Arial;
}

.optionConf:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.sourceFlight, .destinyFlight {
    width: 100px;
}

.firstDay, .secondDay, .input {
    width: 200px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    border-radius:12px;
    border: 0 solid lightgray;
}

.firstDay, .secondDay {
    border-color: lightgray;
    font-size: 13px;
    font-family: Arial;
}

.firstDay:hover, .secondDay:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.firstDay * {
    background-color:lightgray;
}

.secondDay * {
    background-color:lightgray;
}

.input {
    padding-left: 8px;
}
.secondDay {
    margin-left: 9px;
    margin-top: 5px;
}

.resultsArea {
    background-color: lightgray;
    padding: 17px;
    width: 98%;
    border-radius:25px;
}

.result {
    padding-left: 9px;
    padding-top: 10px;
    width: 99%;
    display: flex;
    height: 42px;
    border-radius:12px;
}

.result:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.even {
    background-color: #c0c0c0;
}

.section1, .section2, .section3, .section4 {
    width: 25%;
}

.buttonF {
    width: 58px;
    height: 58px;
    border: none;
    border-radius: 12px;
    background-color: lightgray;
    font-size: 23px;
}

.buttonF:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.config1 {
    width: 84%;
}

.config2 {
    width: 12%;
}


.daForm {
    display: inline-flex;
    margin-bottom: 17px;
}

.toLeft {
    margin-left: 1px;
}
